%script(src="https://www.google.com/jsapi")
%script(src="/chartkick.js")
%html
  %head 
    %title Who's gone get shot
  %body
    %h1= "#{@taksi}, Τετράμηνο #{@semester}"

    %p= "Τελευταία ενημέρωση #{@modtime}"

    %h1 Ελλείψεις βαθμών

    %h2 Ανα τμήμα
    - @missingTmimata.each do |k,v|
      %h2=k
      %ul
        - v.each do |l|
          %li= l
    %hr
    %h2 Ανα καθηγητή
    - @missingLessons.each do |k,v|
      %h3=k
      %ul
        - v.each do |l|
          %li= l
    %hr

    %h2 Ανα μαθητή
    - @missingStudents.each do |k,v|
      %h3=k
      %ul
        - v.each do |l|
          %li= l
    %hr

    %h1 Στατιστικά

    %h2 Κατανομή βαθμών
    = column_chart( @katanomiVathmwn )

    %h2 Κατανομή βαθμών, Σύγκριση Γενικής Παιδείς - Ειδικοτήτων
    = column_chart( [{name: "Γενικής Παιδείας", data: @katanomiVathmwnGP},
      {name: "Ειδικοτήτων", data: @katanomiVathmwnEid}] )

    %h2 Μέσος όρος αγοριών - κοριτσιών
    = column_chart( @gradesPerSex )

    %h2 Μέσος όρος βαθμών ανα μάθημα
    = column_chart ( @perMathimaAvg )

    %h2 Μέσος όρος βαθμών ανα καθηγητή/τρια
    = column_chart ( @perTeacherAvg )

    %h2 Δέκα πρώτοι μαθητές/τριες
    = column_chart ( @top10Students )






